<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id='content'>
		<h1>It's Mr stick Figure</h1>
		<p>Freegan chambray cliche, jean shorts roof party kickstarter chartreuse vice raw denim. Truffaut small batch chia chambray kitsch. Scenester swag forage brooklyn. Migas PBR&B vegan kitsch hexagon. Banh mi PBR&B VHS, ethical offal chartreuse williamsburg air plant microdosing pok pok. Thundercats deep v vegan, tofu la croix asymmetrical chicharrones tacos sartorial lumbersexual skateboard affogato mlkshk literally. Craft beer brunch etsy next level.
		</p>

	</div>
</div>

